@import "reset.css";
* {
    box-sizing: border-box;
}

body {
    --secondary-color-light: #41996f;
    --secondary-color-dark: #36805d;
    --primary-color-light: white;
    font-family: sans-serif;
}

.nav-list {
    font-size: 0px;
}

.nav-list-item {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    background-color: var(--secondary-color-light);
}

.nav-link {
    display: block;
    padding: 20px;
    min-width: 200px;
    max-width: 200px;
    border: 1px solid var(--secondary-color-dark);
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--primary-color-light);

}

.nav-list-item:hover, .nav-link:focus {
    background-color: var(--secondary-color-dark);
    color: var(--primary-color-light);
    outline: none;
}

.nav-sub-list {
    position: absolute;
    display: none;
}

.nav-list-item:hover > .nav-sub-list {
    display: block;
}

.nav-sub-sub-item {
    position: relative;
}

.nav-sub-sub-list {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}

#sub-item:hover > #sub-list{
    display: block;
}





